{% extends "base.html" %}
{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'index' %}">
            <span class="icon is-small"><i class="fa fa-home"></i></span><span>All Todos</span>
        </a></li>
      </ul>
    </nav>


    <h3 class="title is-4">{{ todo.title }}</h3>
    <p>{{ todo.text }}</p>
    <p>Created {{ todo.created_at }}</p>
    <br>
    <a class="button is-success" href="{% url 'edit_todo' todo.id %}">Edit</a>
    <form action="{% url 'delete_todo' todo.id %}" method="POST" style="display: inline-block;">
        {% csrf_token %}
        <button type="submit" class="button is-danger">Delete</button>
    </form> 
{% endblock %}
